<section id="viewCatalog" class="background-img">
    <!--If there are one or more electronics-->
    <div class="added-electronics">

        {{#if products}}
        {{#each products}}

        <a href="/catalog/{{_id}}" class="added-electronics-in-market">
            <img src="{{image}}" class="picture-added-electronics">
            <h3>{{name}}</h3>
            <span>Price: ${{price}}</span>
        </a>

        {{/each}}

        {{else}}

        <div class="guest">
            There are no electronics found...
        </div>
        {{/if}}
        {{!-- <a href="#" class="added-electronics-in-market">
            <img src="./image/tablet.webp" class="picture-added-electronics">
            <h3>Tablet Apple iPad Air 16GB</h3>
            <span>Price: $92</span>
        </a> --}}



    </div>

    <!--If there are no electronics in catalog yet-->
    <!-- <div class="guest">
                There are no electronics found...
            </div> -->
</section>